<!DOCTYPE HTML>
<html ng-app="store">
    <head>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
        <style>
            .ng-dirty.ng-invalid{
            border-color:red;
            }
            .ng-valid.ng-dirty{
              border-color:green;
            }

        </style>
    </head>
    <body ng-controller="StoreController as store">
        <script type="text/javascript" src="angular.min.js"></script>
        <!--<script  type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>-->
        <script type="text/javascript" src="app.js"></script>
        <script type="text/css" src="main.css"></script>
        <!--<p>{{"hello "+"you"}}</p>-->
       
           
            
            <!--Product Container-->
            <div ng-repeat="product in store.products"   ng-hide="store.product.soldOut">
            <h1>{{product.name}}</h1>
            <h2 class="pull-right"> {{product.price | currency}}</h2>
            <!--Image Container-->
            <!--    <div class="gallery" ng-show="product.images.length">
            <div class="img-wrap">
            <img ng-src="Images/axl.jpg" src="Images/axl.jpg">
            </div>
            <ul class="img-rounded clearfix">
            <li class="pull-left" ng-repeat="image in product.images">
            <img class="thumbnail"ng-src="Images/{{image}}" src="Images/image"/>
            </li> 
            </ul>
            </div>
      
-->            
                <!--Hey There also a Code Explicitter-->
            <div>
             <ul class="img-thumbnails clearfix">
                <li class="small-image pull-left thumbnail" ng-repeat="image in product.images">         
                <img ng-src="Images/{{image}}"/>
                </li>
            </ul>
            <product-tabs></product-tabs> 
             </div>    
               
            
                
            
        </div>  
    </body>
</html>    