<!DOCTYPE HTML>
<html ng-app="store">
    <head>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
    </head>
    <body ng-controller="StoreController as store">
        <script type="text/javascript" src="angular.min.js"></script>
        <script type="text/javascript" src="app.js"></script>
        <script type="text/css" src="main.css"></script>
        <!--<p>{{"hello "+"you"}}</p>-->
       
           
            
            <!--Product Container-->
            <div ng-repeat="product in store.products"   ng-hide="store.product.soldOut">
            <h1>{{product.name}}</h1>
            <h2 class="pull-right"> {{product.price | currency}}</h2>
            <!--Image Container-->
            <!--    <div class="gallery" ng-show="product.images.length">
            <div class="img-wrap">
            <img ng-src="Images/axl.jpg" src="Images/axl.jpg">
            </div>
            <ul class="img-rounded clearfix">
            <li class="pull-left" ng-repeat="image in product.images">
            <img class="thumbnail"ng-src="Images/{{image}}" src="Images/image"/>
            </li> 
            </ul>
            </div>
      
-->            
            <div>
             <ul class="img-thumbnails clearfix">
        <li class="small-image pull-left thumbnail" ng-repeat="image in product.images">         
            <img ng-src="Images/{{image}}"/>
                 </li>
                </ul>
                 </div>               
            <button class="btn-primary" ng-show="product.canPurchase"> Add to Cart </button>
            <li><a href ng-click="tab = 1">Description</a></li>
            <li><a href ng-click="tab = 2">Specificial</a></li>
            <li><a href ng-click="tab = 3">Review</a></li>
            {{tab}}
            <div class="panel" ng-show="tab === 1">
            <h4>Description</h4>
            <p> {{product.description}}</p>    
            </div>
            <div class="panel" ng-show="tab === 2">
            <h4>Specification</h4>
            <blockquote>None yet</blockquote>    
            </div>
            <div class="panel" ng-show="tab === 3">
                <ul>
                <h4>Review</h4>
                <li ng-repeat="review in product.reviews">
                    <blockquote>
                <strong>{{review.stars}} Stars</strong>
                {{review.body}}
                <cite class="clearfix">-{{review.author}}</cite> 
                    </blockquote>
                </li>    
                </ul>
         <form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewCtrl.addReview(product)" novalidate>
              <!--  Live Preview -->
               <blockquote>
                <strong>{{reviewCtrl.review.stars}} Stars </strong>
                {{reviewCtrl.review.body}}
                <cite class="clearfix">—{{reviewCtrl.review.author}}</cite>
              </blockquote>
                 <!--  Review Form -->
               <h4>Submit a Review</h4>
              <fieldset class="form-group">
                <select ng-model="reviewCtrl.review.stars required" class="form-control" ng-options="stars for stars in [5,4,3,2,1]" title="Stars">
                  <option value="">Rate the Product</option>
                </select>
              </fieldset>
              <fieldset class="form-group">
                <textarea ng-model="reviewCtrl.review.body required" class="form-control" placeholder="Write a short review of the product..." title="Review"></textarea>
              </fieldset>
              <fieldset class="form-group">
                <input ng-model="reviewCtrl.review.author required" type="email" class="form-control" placeholder="jimmyDean@example.org" title="Email" />
              </fieldset>
              <fieldset class="form-group">
                  <div> reviewForm is {{reviewForm.$valid}} </div>
                <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
              </fieldset>
            </form>
                <!--
                <form name="reviewForm" ng-Controller="ReviewController as reviewCtrl"
                                        ng-submit="reviewCtrl.addReview(product)">
                <blockquote ng-repeat="review in product.reviews">
                <b>Stars:{{reviewCtrl.review.stars}}</b>
                {{reviewCtrl.review.body}}
                <cite>by: {{reviewCtrl.review.author}}</cite>
                </blockquote>
                <h4>Submit a Review</h4>     
                <select ng-model="reviewCtrl.review.stars">
                <option value="1">1 star</option>
                <option value="2">2 star</option>
                <option value="2">3 star</option>
                <option value="4">4 star</option>
                <option value="5">5 star</option>    
                </select>
                 
                <textarea ng-model="reviewCtrl.review.body"></textarea>
                <label>by:</label>
                <input ng-model="reviewCtrl.review.author" type="email"/>
                <input type="submit" value="Submit"/>    
                </form> -->
            </div>
        </div>  
    </body>
</html>    